body
{
    color: rgb(109, 9, 240);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(28, 233, 10);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
